<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>357213688571-845732mjd81vphahs3k0f2nbal9e6sc3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357213688571-845732mjd81vphahs3k0f2nbal9e6sc3</string>
	<key>API_KEY</key>
	<string>AIzaSyAp5WOmWuPyL1E12vru54NaBi58mqGl9K0</string>
	<key>GCM_SENDER_ID</key>
	<string>357213688571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Prueba-Coppel</string>
	<key>PROJECT_ID</key>
	<string>pruebacoppel-eff43</string>
	<key>STORAGE_BUCKET</key>
	<string>pruebacoppel-eff43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357213688571:ios:792f7c6157950e8389d65e</string>
</dict>
</plist>